@tailwind base;
@tailwind components;
@tailwind utilities;

h1, .text-serif {
  font-family: "Playfair Display", serif;
}

.text-shadow {
  text-shadow: 2px 2px 1px #000000;
}

.smallcaps {
  font-variant: small-caps;
  text-transform: lowercase;
}

h1 {
  @apply text-4xl tracking-tighter mb-3 text-center lg:text-7xl;
}

h3 {
  @apply text-2xl font-bold mb-3;
}

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}
